# Python 関連 
*.pyc 
__pycache__/ 

# キャッシュファイル
unsloth_compiled_cache/

# 隠しファイル 
data/*
!data/.gitkeep

model/*
!model/.gitkeep

corpus/*
!corpus/.gitkeep


#wiki関連
wiki/corpus/
wiki/text/
wiki/model/

# 仮想環境 
.venv/